/* CSS document */
body .tonglang {
  width: 100%; }

* {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

body .pr {
  padding-right: 0 !important; }

body .pl {
  padding-left: 0 !important; }

.nav2-tonglang8 {
  margin-top: 148px; }
